<div class="p-2"  >
    <div class="container-fluid ">
        <div class="row bg-white">
            <div class="col">
                <h3 class="mt-2 mb-4" style="height: 28px;"><span *ngIf="!system.isMobile">Pago<span *ngIf="!isForm">s</span></span>
                    <button class="btn btn-primary float-right btn-sm ml-2 mt-1" (click)="refreshData()" [ngStyle]="{'opacity': filter.isFilter ? .6 : 1}" *ngIf="!isForm">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-primary float-right btn-sm ml-2 mt-1" (click)="descargar_pagos_open()" [ngStyle]="{'opacity': filter.isFilter ? .6 : 1}" *ngIf="!isForm">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <span *ngIf="!system.isMobile"> Descargar pagos</span>
                    </button>
                    <button class="btn btn-primary float-right btn-sm ml-2 mt-1" (click)="confirmar_pagos()" [ngStyle]="{'opacity': filter.isFilter ? .6 : 1}" *ngIf="!isForm && !system.isMobile">
                        <i class="fa fa-compress" aria-hidden="true"></i>
                        Confirmar pagos
                    </button>
                    <button class="btn btn-primary float-right btn-sm ml-2 mt-1" (click)="openUpoad()" [ngStyle]="{'opacity': filter.isFilter ? .6 : 1}" *ngIf="!isForm && !system.isMobile">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        Cargar archivo
                    </button>
                    
                    <button disabled class="btn btn-primary float-right btn-sm" (click)="new()" [ngStyle]="{'opacity': filter.isFilter ? .6 : 1}" *ngIf="!isForm && false">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Nuevo
                    </button>
                    <!-- <button disabled class="btn btn-primary float-right btn-sm ml-2" (click)="save()" *ngIf="isForm">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Guardar
                    </button> -->
                    <button class="btn btn-primary float-right btn-sm" (click)="cancelar()" *ngIf="isForm">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        Regresar
                    </button>
                    <button class="btn btn-primary float-right btn-sm mr-2 mt-1" (click)="initDelete()" *ngIf="!isForm && selected.selected.length > 0">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Eliminar
                    </button>
                    <div class="btn-group btn-group-sm float-right mr-2 mt-1" role="group">
                        <button class="btn btn-primary btn-sm" (click)="refreshData()" *ngIf="!isForm && filter.isFilter">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Buscar
                        </button>
                        <button class="btn btn-secondary btn-sm" (click)="resetFilter()" *ngIf="!isForm && filter.isFilter">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            Limpiar
                        </button>    
                    </div>
                    <small class="mr-2 mt-1" [ngClass]="{'float-right': !system.isMobile}">
                        Dolar: {{system.dolar.valor | currency: 'Bs ': true}}
                    </small>
                </h3>
                <div *ngIf="!isForm">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                            <tr class="inputFilter head">
                                <th></th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por fecha"  tabindex="-1" (change)="refreshData()" type="date" [(ngModel)]="filter.fecha">
                                </th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por nombre" tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.titular_nombre">
                                </th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por apellido" tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.titular_apellido">
                                </th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por cedula" tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.titular_cedula">
                                </th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por cedula" tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.cedula">
                                </th>
                                <th>
                                   <select name="banco_id" id="banco_id" [(ngModel)]="filter.banco_id" (change)="refreshData()">
                                       <option value="">Buscar por banco</option>
                                       <option [value]="i.id" *ngFor="let i of bancos">{{i.nombre}}</option>
                                   </select>
                                </th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por referencia" tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.referencia">
                                </th>
                                
                                
                                <th>
                                    <select name="tipo_pago_id" id="tipo_pago_id" [(ngModel)]="filter.tipo_pago_id" (change)="refreshData()">
                                        <option value="">Buscar por tipos de pago</option>
                                        <option [value]="i.id" *ngFor="let i of tipospago">{{i.nombre}}</option>
                                    </select>
                                    <!-- <input class="if" placeholder="Búsqueda por tipo de pago"  tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.tipo_pago_id"> -->
                                </th>
                                <!-- <th>
                                    <input class="if" placeholder="Búsqueda por usuario"  tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.user_id">
                                </th> -->
                                <th>
                                    <input class="if" placeholder="Búsqueda por monto"  tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.monto">
                                </th>
                            </tr>
                            <tr class="head">
                                <th>
                                    <input disabled type="checkbox" (click)="selected.selectAll()" [(ngModel)]="selected.isSelectAll">
                                </th>
                                
                                <th>Fecha</th>
                                <th>Nombre titular</th>
                                <th>Apellido titular</th>
                                <th>Cedula titular</th>
                                <th>Cedula estudiante</th>
                                <th>Banco</th>
                                <th>Referencia</th>
                                
                                <th>Tipo de pago</th>
                                <!-- <th>Usuario</th> -->
                                <th class="text-right">Monto</th>
                            </tr>
                            <tr *ngFor="let i of data" [ngClass]="{'estado-confirmado': i.montobs_confirm !== '' }">
                                <td>
                                    <input [disabled]="i.montobs_confirm ? '' : null" type="checkbox" [(ngModel)]="selected.value[i.id].value">
                                </td>
                                <td class="cursorPointer" (click)="edit(i)">{{i.fecha}}</td>
                                <td class="cursorPointer" (click)="edit(i)">{{i.titular_nombre}} </td>
                                <td class="cursorPointer" (click)="edit(i)">{{i.titular_apellido}} </td>
                                <td class="cursorPointer" (click)="edit(i)">{{i.titular_cedula}} </td>
                                <td class="cursorPointer" (click)="edit(i)">{{i?.user?.cedula}} </td>
                                <td class="cursorPointer" (click)="edit(i)">{{getBanco(i.banco_id)}} </td>
                                <td class="cursorPointer" (click)="edit(i)">{{i.referencia}} </td>
                                
                                <td class="cursorPointer" (click)="edit(i)">{{i?.tipo_pago_caja ? i?.tipo_pago_caja : gettipopago(i.tipo_pago_id) }} </td>
                                <!-- <td class="cursorPointer" (click)="edit(i)">{{i.user_id}}</td> -->
                                <td class="cursorPointer text-right"  (click)="edit(i)">{{ toFixed(i.monto) }} $ / {{system.toPetro(toFixed(i.monto))}} (P)</td>
                            </tr>
                            <tr *ngIf="data.length === 0">
                                <td class="text-center" colspan="10" *ngIf="!loadData">
                                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                </td>
                                <td class="text-center" colspan="10" *ngIf="loadData">
                                    No hay registros
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <!-- {{pagination | json}} -->
                        <nav aria-label="Page navigation example">
                            
                            <ul class="pagination justify-content-end" >
                              <li> Registros por pagina
                                <select (change)="refreshData()" [(ngModel)]="pagination.per_page">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                </select>
                              </li>
                              <li class="page-item" *ngIf="pagination.pages.length > 1">
                                <a class="page-link" (click)="goPage(pagination.page, '-')" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <li *ngFor="let i of pagination.pages" [ngClass]="{'active': pagination.page === i}" class="page-item">
                                  <a class="page-link" (click)="goPage(i)">{{i}}</a>
                              </li>
                              <li class="page-item" *ngIf="pagination.pages.length > 1">
                                <a class="page-link" (click)="goPage(pagination.page, '+')" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
                <div *ngIf="isForm">
                    <div class="row mb-2">
                        <div class="col-md-6 col-sm-12"> 
                            <div>Fecha</div>
                            <b class="pl-2">{{form.fecha}}</b>
                            
                            <!-- <div class="form-group">
                                <label for="referencia">Referencia</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="referencia" [(ngModel)]="form.referencia">
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-12" *ngIf="form.titular_nombre !== null">
                            <div>Nombre y apellido del titular</div>
                            <b class="pl-2">{{form.titular_nombre}} {{form.titular_apellido}}</b>
                            <!-- <div class="form-group">
                                <label for="monto">Monto</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="monto" [(ngModel)]="form.monto">
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-12" *ngIf="form.titular_cedula !== null">
                            <div>Cedula del titular</div>
                            <b class="pl-2">{{form.titular_cedula}}</b>
                            <!-- <div class="form-group">
                                <label for="user">Usuario</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="user" [(ngModel)]="form.user_id">
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-12" *ngIf="form.titular_telefono !== null">
                            <div>Teléfono del titular</div>
                            <b class="pl-2">{{form.titular_telefono}}</b>
                            <!-- <div class="form-group">
                                <label for="monto">Monto</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="monto" [(ngModel)]="form.monto">
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div>nombre y apellido estudiante</div>
                            <b class="pl-2">{{form.user?.nombre}} {{form.user?.apellido}}</b>
                            <!-- <div class="form-group">
                                <label for="monto">Monto</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="monto" [(ngModel)]="form.monto">
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div>Cedula estudiante</div>
                            <b class="pl-2">{{form?.user?.cedula}}</b>
                            <!-- <div class="form-group">
                                <label for="monto">Monto</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="monto" [(ngModel)]="form.monto">
                            </div> c_c_e_lapso-->
                        </div>
                        <div class="col-md-6 col-sm-12" *ngIf="form?.c_servicio !== null">
                            <div *ngIf="form?.c_servicio?.tipo === 'servicio'">Nombre del servicio</div>
                            <div *ngIf="form?.c_servicio?.tipo === 'materia'">Nombre de materia</div>
                            <div *ngIf="form?.c_servicio?.tipo === 'inscripcion'">Nombre del servicio</div>
                            <b class="pl-2">{{form?.c_servicio?.nombre}}</b>
                            <!-- <div class="form-group">
                                <label for="monto">Monto</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="monto" [(ngModel)]="form.monto">
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-12" *ngIf="form?.c_c_e_lapso !== null ">
                            <div>Nombre de carrera</div>
                            <b class="pl-2">{{form?.c_c_e_lapso?.c_e_lapso?.carrera?.nombre}}</b>
                            <!-- <div class="form-group">
                                <label for="monto">Monto</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="monto" [(ngModel)]="form.monto">
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-12" *ngIf="form.banco_id !== null">
                            <div>Banco</div>
                            <b class="pl-2">{{getBanco(form.banco_id)}}</b>
                            <!-- <div class="form-group">
                                <label for="fecha">Fecha</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="fecha" [(ngModel)]="form.fecha">
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-12" *ngIf="form.referencia !== null">
                            <div>Referencia</div>
                            <b class="pl-2">{{form.referencia}}</b>
                            <!-- <div class="form-group">
                                <label for="tipo_pago_id">Tipo de pago</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="tipo_pago_id" [(ngModel)]="form.tipo_pago_id">
                            </div> -->
                        </div>
                        
                        
                        
                        <div class="col-md-6 col-sm-12">
                            <div>Monto en Bs</div>
                            <b class="pl-2">{{form.montobs | currency: 'Bs ': true}}</b>
                            <!-- <div class="form-group">
                                <label for="monto">Monto</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="monto" [(ngModel)]="form.monto">
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div>Monto ($)</div>
                            <b class="pl-2">{{form.monto | currency: '$ ' }} / {{system.toPetro(form.monto)}} (P)</b>
                            <!-- <div class="form-group">
                                <label for="monto">Monto</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="monto" [(ngModel)]="form.monto">
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div>Monto al cambio (Bs)</div>
                            <b class="pl-2">{{form.montobs_cambio | currency: 'Bs ' }} </b>
                            <!-- <div class="form-group">
                                <label for="monto">Monto</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="monto" [(ngModel)]="form.monto">
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div>Estado</div>
                            <b class="pl-2" [ngClass]="{'text-success': form.montobs_confirm != '', 'text-danger': form.montobs_confirm === ''}">{{form.montobs_confirm !== '' ? 'Confirmado' : 'No confirmado' }}</b>
                            <!-- <div class="form-group">
                                <label for="monto">Monto</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="monto" [(ngModel)]="form.monto">
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div>Tipo de pago</div>
                            <b class="pl-2" >{{ gettipopago(form.tipo_pago_id) === '' ? form.tipo_pago_caja : gettipopago(form.tipo_pago_id) }}</b>
                            <!-- <div class="form-group">
                                <label for="monto">Monto</label>
                                <input type="text" (keyup.enter)="save()" class="form-control" id="monto" [(ngModel)]="form.monto">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hdmodal hdmodal-sm" id="modal-delete">
    <div class="hdmodal-content">
        <div class="card p-0">
            <h5 class="py-2 px-3 modal-title flex">
                Confirmación
                <i class="fa fa-times ml-auto closer" (click)="modalDeleteClose()"></i>
            </h5>
            <div class="container p-3">
              <h4 class="mb-0" *ngIf="selected.selected.length === 1">¿Desea eliminar el registro?</h4>
              <h4 class="mb-0" *ngIf="selected.selected.length > 1">¿Desea eliminar los registros?</h4>
            </div>
            <div class="hdmodal-footer">
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary ml-2" (click)="delete()">ELIMINAR</button>
                    <button class="btn btn-secoundary" (click)="modalDeleteClose()">No</button>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>

  <div class="hdmodal hdmodal-md" id="modal-upload">
    <div class="hdmodal-content">
        <div class="card p-0">
            <h5 class="py-2 px-3 modal-title flex">
                Cargar archivos
                <i class="fa fa-times ml-auto closer" (click)="modalUploadClose()"></i>
            </h5>
            <div class="container p-3">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <select class="form-control form-control-sm mb-2" name="bancoid" id="bancoid" (change)="changeBank()" [(ngModel)]="banco_id">
                            <option value="0">Seleccionar banco</option>
                            <option [value]="i.id" *ngFor="let i of bancos">{{i.nombre}}</option>
                        </select>
                        <nz-upload
                        class="pb-1"
                            [(nzAction)]="urlUpload"
                            [nzDisabled]="getdisabled()"
                            [nzHeaders]="{ 'authorization': token }"
                            (nzChange)="handleChange($event)"
                            [nzMultiple]="false"
                            [nzShowUploadList]= "true"
                            [nzAccept]="'.xlsx'"
                            *ngIf="!isForm"
                            >
                            <button nz-button><i nz-icon nzType="upload"></i>Cargar archivo</button>
                        </nz-upload>
                    </div>
                </div>
                
                
            </div>
            <div class="hdmodal-footer">
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="d-flex flex-row-reverse">
                    <button class="btn btn-secoundary" (click)="modalUploadClose()">Cerrar</button>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>

  <div class="hdmodal hdmodal-md" id="modal-download">
    <div class="hdmodal-content">
        <div class="card p-0">
            <h5 class="py-2 px-3 modal-title flex">
                Descargar pagos
                <i class="fa fa-times ml-auto closer" (click)="descargar_pagos_close()"></i>
            </h5>
            <div class="container p-3">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label for="from">Desde</label>
                        <input type="date" id="from" class="form-control" [(ngModel)]="from">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label for="to">Hasta</label>
                        <input type="date" id="to" class="form-control" [(ngModel)]="to">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 mt-2">
                        <label for="">Estado</label> <br>
                        <nz-radio-group [(ngModel)]="confirm" nzButtonStyle="solid">
                            <label nz-radio-button nzValue="">Todos</label>
                            <label nz-radio-button nzValue="B">Confirmados</label>
                            <label nz-radio-button nzValue="C">No confirmados</label>
                        </nz-radio-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 mt-2">
                        <label for="">Tipo de pagos</label> <br>
                        <nz-radio-group [(ngModel)]="type" nzButtonStyle="solid">
                            <label nz-radio-button nzValue="">Todos</label>
                            <label nz-radio-button nzValue="B">Transferencia</label>
                            <label nz-radio-button nzValue="C">Saldo</label>
                            <label nz-radio-button nzValue="D">Mercantil e-pagos</label>
                            <label nz-radio-button nzValue="E">Caja</label>
                        </nz-radio-group>
                    </div>
                </div>
                
                
            </div>
            <div class="hdmodal-footer">
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary" [attr.disabled]="from === '' || to === '' ? '' : null" (click)="descargar_pagos()">DESCARGAR</button>
                    <button class="btn btn-secoundary mr-2" (click)="descargar_pagos_close()">Cerrar</button>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>