<section _ngcontent-fed-c192="" id="login">
    <div _ngcontent-fed-c192="" class="row auth-height full-height-vh m-0">
        <div _ngcontent-fed-c192="" class="col-12 d-flex align-items-center justify-content-center">
            <div _ngcontent-fed-c192="" class="card overflow-hidden">
                <div _ngcontent-fed-c192="" class="card-content">
                    <div _ngcontent-fed-c192="" class="card-body auth-img">
                        <div _ngcontent-fed-c192="" class="row m-0">
                            <div _ngcontent-fed-c192=""
                                class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                                <img _ngcontent-fed-c192="" src="./assets/img/Logo-uft_2.jpg" alt="logo" width="300"
                                    height="230" class="img-fluid"></div>
                            <div _ngcontent-fed-c192="" class="col-lg-6 col-12 px-4 py-3" *ngIf="!isRegister && !isConfirm && !isForgetPassword">
                                <h4 _ngcontent-fed-c192="" class="mb-2 card-title">
                                    Iniciar sesión
                                    <span class="float-right" *ngIf="system.isMobile">
                                        <img _ngcontent-fed-c192="" src="./assets/img/Logo-uft.png" alt="logo" width="120"
                                    height="120" class="img-fluid" style="top: -10px;position: relative;" >
                                    </span>
                                </h4>
                                <p _ngcontent-fed-c192="">Bienvenido, inicie sesión en su cuenta.</p>
                                
                                    <div _ngcontent-fed-c192="" class="form-group">
                                        <input _ngcontent-fed-c192="" (keyup.enter)="login()"  [(ngModel)]="loginModel.username"
                                            type="text" placeholder="Cedula de identidad"
                                            required="" class="form-control ng-untouched ng-pristine ng-valid">
                                        <!---->
                                    </div>
                                    <div _ngcontent-fed-c192="" class="form-group">
                                        <input _ngcontent-fed-c192="" [(ngModel)]="loginModel.password" (keyup.enter)="login()" 
                                            type="password" placeholder="Contraseña"
                                            required="" class="form-control ng-untouched ng-pristine ng-valid">
                                        <!---->
                                    </div>
                                    <div _ngcontent-fed-c192=""
                                        class="d-sm-flex justify-content-between mb-3 font-small-2">
                                        <div _ngcontent-fed-c192="" class="remember-me mb-2 mb-sm-0">
                                            <div _ngcontent-fed-c192="" class="checkbox auth-checkbox">
                                                <input [(ngModel)]="isRemenber"
                                                    _ngcontent-fed-c192="" type="checkbox"
                                                    formcontrolname="rememberMe" id="rememberMe"
                                                    class="form-control ng-untouched ng-pristine ng-valid"><label
                                                    _ngcontent-fed-c192="" for="rememberMe"><span
                                                        _ngcontent-fed-c192=""
                                                        class="font-small-2 mb-3 font-weight-normal">Recordarme</span></label></div>
                                        </div>
                                        <a (click)="forgetPassword()">Olvidó su contraseña?</a> 
                                    </div>
                                    <div _ngcontent-fed-c192=""
                                        class="d-flex justify-content-between flex-sm-row flex-column">
                                        <a
                                            _ngcontent-fed-c192="" class="btn bg-outline-primary mb-2 mb-sm-0"
                                             [style]="{'opacity': '1', 'cursor': 'pointer'}" (click)="register()" >Registrarse</a>
                                        <button [disabled]="(loginModel.password !== '' && loginModel.username !== '' && loginModel.username.length > 4) ? false : true"
                                            _ngcontent-fed-c192="" class="btn btn-primary" (click)="login()">Iniciar sesión</button>
                                    </div>
                                
                                <hr _ngcontent-fed-c192="">
                                <div _ngcontent-fed-c192=""
                                    class="d-flex justify-content-between align-items-center">
                                    <!-- <h6 _ngcontent-fed-c192="" class="text-primary m-0">Or Login With</h6> -->
                                    <!-- <ngx-spinner _ngcontent-fed-c192="" _nghost-fed-c97="" class="ng-tns-c97-0">
                                        
                                    </ngx-spinner> -->
                                    <div _ngcontent-fed-c192="" class="login-options">
                                        <a _ngcontent-fed-c192="" target="_blank" href="https://facebook.com/UFT.VE/"
                                            class="btn btn-sm btn-social-icon btn-facebook mr-1">
                                            <span
                                                _ngcontent-fed-c192="" class="fa fa-facebook"></span>
                                            </a>
                                            <a
                                            _ngcontent-fed-c192="" target="_blank" href="https://twitter.com/Universidaduft?s=03"
                                            class="btn btn-sm btn-social-icon btn-twitter mr-1"><span
                                                _ngcontent-fed-c192="" class="fa fa-twitter"></span>
                                            </a>
                                            <a
                                            _ngcontent-fed-c192="" target="_blank" href="https://instagram.com/uft.ve?igshid=kkz13r1k8w6v"
                                            class="btn btn-sm btn-social-icon btn-twitter mr-1"><span
                                                _ngcontent-fed-c192="" class="fa fa-instagram"></span>
                                            </a>
                                            <a
                                            _ngcontent-fed-c192="" target="_blank" href="https://www.youtube.com/channel/UCvcOaBULNQsmJ8NUdt7PkwQ"
                                            class="btn btn-sm btn-social-icon mr-1" [ngStyle]="{'background': 'red'}"><span
                                                _ngcontent-fed-c192="" class="fa fa-youtube"></span>
                                            </a>
                                        </div>
                                </div>
                            </div>
                            <div _ngcontent-fed-c192="" class="col-lg-6 col-12 px-4 py-3" *ngIf="isRegister">
                                <h4 _ngcontent-fed-c192="" class="mb-2 card-title">
                                    Registro
                                    <span class="float-right" *ngIf="system.isMobile">
                                        <img _ngcontent-fed-c192="" src="./assets/img/Logo-uft.png" alt="logo" width="120"
                                    height="120" class="img-fluid" style="top: -10px;position: relative;" >
                                    </span>
                                </h4>
                                <p _ngcontent-fed-c192="">Bienvenido, rellene los campos para continuar.</p>
                                <form #captchaProtectedForm="ngForm" (ngSubmit)="registerSubmit()">
                                    <div _ngcontent-fed-c192="" class="form-group">
                                        <input _ngcontent-fed-c192=""
                                        [(ngModel)]="formRegister.ci"
                                        name="ci"
                                            type="text" placeholder="Cedula de identidad"
                                            required="" class="form-control ng-untouched ng-pristine ng-valid">
                                        <!---->
                                    </div>
                                    <div _ngcontent-fed-c192="" class="form-group">
                                        <input _ngcontent-fed-c192=""
                                        [(ngModel)]="formRegister.email"
                                        name="email"
                                            type="email" placeholder="Correo electronico"
                                            required="" class="form-control ng-untouched ng-pristine ng-valid">
                                        <!---->
                                    </div>
                                    <div _ngcontent-fed-c192="" class="form-group">
                                        <input _ngcontent-fed-c192="" [(ngModel)]="newPassword"    [ngClass]="{'is-valid': newPassword !== '' && newPassword !== null && newPassword === newPasswordRepeat}"
                                            type="password" placeholder="Contraseña" [ngModelOptions]="{standalone: true}"
                                            required="" class="form-control ng-untouched ng-pristine ng-valid">
                                    </div>
                                    <div _ngcontent-fed-c192="" class="form-group">
                                        <input _ngcontent-fed-c192="" [(ngModel)]="newPasswordRepeat"   [ngClass]="{'is-valid': newPassword !== '' && newPassword !== null && newPassword === newPasswordRepeat}"
                                            type="password" placeholder="Repetir contraseña" [ngModelOptions]="{standalone: true}"
                                            required="" class="form-control ng-untouched ng-pristine ng-valid">
                                    </div>
                                    <!-- <div class="mb-2 text-center d-flex" [ngStyle]="{'overflow-x': 'auto', 'overflow-y': 'hidden'}" style="width: 100%;margin: auto;">
                                        <re-captcha
                                        style="width: 100%;text-align: center;margin: auto;"
                                            [(ngModel)]="formRegister.captcha"
                                            name="captcha"
                                            required
                                            siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"
                                            #captchaControl="ngModel"
                                        ></re-captcha>
                                    </div> -->
                                    <div _ngcontent-fed-c192=""
                                            class="d-flex justify-content-between flex-sm-row flex-column">
                                            <a
                                                _ngcontent-fed-c192="" class="btn bg-outline-primary mb-2 mb-sm-0"
                                                 [style]="{'opacity': '1', 'cursor': 'pointer'}" (click)="registerCancel()" >Cancelar</a>
                                            <button
                                                _ngcontent-fed-c192="" class="btn btn-primary" type="submit" [disabled]="!validForm">Registrarse</button>
                                    </div>
                                </form>
                            </div>
                            <div _ngcontent-fed-c192="" class="col-lg-6 col-12 px-4 py-3" *ngIf="isConfirm && false">
                                <h4 _ngcontent-fed-c192="" class="mb-2 card-title">
                                    Confirmar
                                    <span class="float-right" *ngIf="system.isMobile">
                                        <img _ngcontent-fed-c192="" src="./assets/img/Logo-uft.png" alt="logo" width="120"
                                    height="120" class="img-fluid" style="top: -10px;position: relative;" >
                                    </span>
                                </h4>
                                <p _ngcontent-fed-c192="">Le enviamos código de confirmación a su correo, por favor confirme para completar operación.</p>
                                <div>
                                    <div _ngcontent-fed-c192="" class="form-group">
                                        <input _ngcontent-fed-c192=""
                                        [(ngModel)]="code_confirm"
                                        name="code_confirm"
                                            type="number" placeholder="Código de confirmación"
                                            required="" class="form-control ng-untouched ng-pristine ng-valid">
                                        <!---->
                                    </div>
                                    <div _ngcontent-fed-c192="" class="form-group">
                                        <input _ngcontent-fed-c192="" [(ngModel)]="newPassword"  
                                            type="password" placeholder="Contraseña"
                                            required="" class="form-control ng-untouched ng-pristine ng-valid">
                                        </div>
                                </div>
                                <div _ngcontent-fed-c192=""
                                            class="d-flex justify-content-between flex-sm-row flex-column">
                                            <a
                                                _ngcontent-fed-c192="" class="btn bg-outline-primary mb-2 mb-sm-0"
                                                 [style]="{'opacity': '1', 'cursor': 'pointer'}" (click)="registerCancel()" >Cancelar</a>
                                            <button
                                                _ngcontent-fed-c192="" class="btn btn-primary" type="button" (click)="confirmcode()" [disabled]="code_confirm?.length > 3 && newPassword?.length > 5">Confirmar</button>
                                    </div>
                            </div>
                            <div _ngcontent-fed-c192="" class="col-lg-6 col-12 px-4 py-3" *ngIf="isForgetPassword">
                                <h4 _ngcontent-fed-c192="" class="mb-2 card-title">
                                    <span *ngIf="!system.isMobile">Recuperar contraseña</span>
                                    <span *ngIf="system.isMobile">Recuperar <br> contraseña</span>
                                    <span class="float-right" *ngIf="system.isMobile">
                                        <img _ngcontent-fed-c192="" src="./assets/img/Logo-uft.png" alt="logo" width="120"
                                    height="120" class="img-fluid" style="top: -10px;position: relative;" >
                                    </span>
                                </h4>
                                <div>
                                    <div _ngcontent-fed-c192="" class="form-group">
                                        <label for="correo">
                                            Introduzca su cedula 
                                        </label>
                                        <input _ngcontent-fed-c192=""
                                        [(ngModel)]="correo"
                                        name="correo" [email]="true"
                                            type="text" placeholder="Cedula"
                                            required="true" class="form-control ng-untouched ng-pristine ng-valid">
                                    </div>
                                </div>
                                <div _ngcontent-fed-c192=""
                                            class="d-flex justify-content-between flex-sm-row flex-column">
                                            <a
                                                _ngcontent-fed-c192="" class="btn bg-outline-primary mb-2 mb-sm-0"
                                                 [style]="{'opacity': '1', 'cursor': 'pointer'}" (click)="isForgetPassword = false" >Cancelar</a>
                                            <button
                                                _ngcontent-fed-c192="" class="btn btn-primary" type="button" (click)="sendForgetPassword()" [disabled]="code_confirm?.length > 3 && newPassword?.length > 5">Confirmar</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="overlayCustom" *ngIf="system.loading">
    <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
</div>


<!-- <div [ngClass]="{'mb-auto': !canInstallApp}" class="card mx-auto mt-auto" style="min-width: 400px;" *ngIf="!system.decodedToken">
    <div class="header text-center">
        <img style="height: 100px;width: 125px;" src="assets/img/logo.jpg" alt="">
    </div>
    <div class="block">
        <div class="form-group">
            <label for="">Cédula/RIF</label>
            <input (keyup.enter)="login()" autocomplete="off" type="text" [(ngModel)]="loginModel.username" class="form-control form-control-md">
        </div>
        <div class="form-group">
            <label for="">Contraseña</label>
            <input (keyup.enter)="login()" type="password" [(ngModel)]="loginModel.password" class="form-control form-control-md">
        </div>
        <div class="form-group" *ngIf="branchs?.length">
            <label for="">Sucursal (Opcional)</label>
            <select [(ngModel)]="loginModel.branch" class="form-control form-control-md">
                    <option value="">Seleccionar</option>
                    <option value="{{o.guid}}" *ngFor="let o of branchs">
                        {{o.branchname}}
                    </option>
                </select>
        </div>
    </div>
    <button (click)="login()" class="btn btn-primary">Iniciar sesión</button>
</div>

<button class="install-app" *ngIf="canInstallApp" (click)="installApp()">
    <i class="fa fa-download mr-2"></i>Instalar Aplicacion
</button> -->

<div class="hdmodal hdmodal-md" id="modal-tutorial">
    <div class="hdmodal-content">
      <div class="card p-0">
        <h5 class="py-2 px-3 modal-title flex">
          Registra tu pago
          <i class="fa fa-times ml-auto closer" (click)="modalTutorialClose()"></i>
        </h5>
        <div class="container p-0">
         <video id="tutorial" type="video/mp4" autoplay controls controlsList="nodownload" style="width: 100%;max-height: 420px;" src="assets/video/tutorial.mp4"></video>
        </div>
      </div>
    </div>
</div>