<div class="p-2"  >
    <div class="container-fluid ">
        <div class="row bg-white">
            <div class="col">
                <h3 class="mt-2 mb-4" style="height: 28px;"><span *ngIf="!system.isMobile">Cuota<span *ngIf="!isForm">s</span></span>
                    <button class="btn btn-primary float-right btn-sm ml-2 mt-1" (click)="refreshData()" [ngStyle]="{'opacity': filter.isFilter ? .6 : 1}" *ngIf="!isForm">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                    
                    <button class="btn btn-primary float-right btn-sm ml-2 mt-1" (click)="cuotas_lote()" *ngIf="!isForm">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                        Cuotas en lote
                    </button>
                    <button class="btn btn-primary float-right btn-sm ml-2 mt-1" (click)="descargar_cuotas()" *ngIf="!isForm">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        Descargar cuotas
                    </button>
                    <button class="btn btn-primary float-right btn-sm" (click)="cancelar()" *ngIf="isForm && !isEdit">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        Regresar
                    </button>
                    
                    <button class="btn btn-primary float-right btn-sm mr-2 mt-1" (click)="initDelete()" *ngIf="!isForm && selected.selected.length > 0">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Anular
                    </button>
                    <div class="btn-group btn-group-sm float-right mr-2 mt-1" role="group">
                        <button class="btn btn-primary btn-sm" (click)="refreshData()" *ngIf="!isForm && filter.isFilter">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Buscar
                        </button>
                        <button class="btn btn-secondary btn-sm" (click)="resetFilter()" *ngIf="!isForm && filter.isFilter">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            Limpiar
                        </button>    
                    </div>
                </h3>
                <div *ngIf="!isForm">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                            <tr class="inputFilter head">
                                <th></th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por fecha de vencimiento"  tabindex="-1" (change)="refreshData()" type="date" [(ngModel)]="filter.fecha_vencimiento">
                                </th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por cedula" tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.cedula">
                                </th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por nombre" tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.nombre">
                                </th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por carrera" tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.carrera">
                                </th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por estado" tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.estado">
                                </th>
                                
                                
                                <!-- <th>
                                    <input class="if" placeholder="Búsqueda por usuario"  tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.user_id">
                                </th> -->
                                <th>
                                    <input class="if" placeholder="Búsqueda por monto"  tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.monto">
                                </th>
                            </tr>
                            <tr class="head">
                                <th>
                                    <input disabled type="checkbox" (click)="selected.selectAll()" [(ngModel)]="selected.isSelectAll">
                                </th>
                                
                                <th>Fecha de vencimiento</th>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Carrera</th>
                                <th>Estado</th>
                                <!-- <th>Usuario</th> -->
                                <th class="text-right">Monto</th>
                            </tr>
                            <tr *ngFor="let i of data" [ngClass]="{'estado-confirmado': i.estado === 'pagado', 'estado-parcial': i.estado === 'anulado' }">
                                <td>
                                    <input [disabled]="i.estado === 'pagado' || i.estado === 'anulado' ? '' : null" type="checkbox" [(ngModel)]="selected.value[i.id].value">
                                </td>
                                <td class="" (click)="edit(i)">{{i.fecha_vencimiento}}</td>
                                <td class="" (click)="edit(i)">{{i.cedula}} </td>
                                <td class="" (click)="edit(i)">{{i.nombre}} </td>
                                <td>{{i?.c_e_lapso?.carrera?.nombre}}</td>
                                <td class="" (click)="edit(i)">{{i.estado}} </td>
                                <td class=" text-right"  (click)="edit(i)">{{ toFixed(i.monto) }} $ / {{system.toPetro(toFixed(i.monto))}} (P)</td>
                            </tr>
                            <tr *ngIf="data.length === 0">
                                <td class="text-center" colspan="10" *ngIf="!loadData">
                                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                </td>
                                <td class="text-center" colspan="10" *ngIf="loadData">
                                    No hay registros
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <!-- {{pagination | json}} -->
                        <nav aria-label="Page navigation example">
                            
                            <ul class="pagination justify-content-end" >
                              <li> Registros por pagina
                                <select (change)="refreshData()" [(ngModel)]="pagination.per_page">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                </select>
                              </li>
                              <li class="page-item" *ngIf="pagination.pages.length > 1">
                                <a class="page-link" (click)="goPage(pagination.page, '-')" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <li *ngFor="let i of pagination.pages" [ngClass]="{'active': pagination.page === i}" class="page-item">
                                  <a class="page-link" (click)="goPage(i)">{{i}}</a>
                              </li>
                              <li class="page-item" *ngIf="pagination.pages.length > 1">
                                <a class="page-link" (click)="goPage(pagination.page, '+')" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
                <div *ngIf="isForm && false">
                    <div class="row mb-2">
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hdmodal hdmodal-sm" id="modal-delete">
    <div class="hdmodal-content">
        <div class="card p-0">
            <h5 class="py-2 px-3 modal-title flex">
                Confirmación
                <i class="fa fa-times ml-auto closer" (click)="modalDeleteClose()"></i>
            </h5>
            <div class="container p-3">
              <h4 class="mb-0" *ngIf="selected.selected.length === 1">¿Desea anular el registro?</h4>
              <h4 class="mb-0" *ngIf="selected.selected.length > 1">¿Desea anular los registros?</h4>
            </div>
            <div class="hdmodal-footer">
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary ml-2" (click)="delete()">ANULAR</button>
                    <button class="btn btn-secoundary" (click)="modalDeleteClose()">No</button>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
