<div class="p-2"  >
    <div class="container-fluid ">
        <div class="row bg-white">
            <div class="col">
                <h3 class="mt-2 mb-4" style="height: 28px;"><span *ngIf="!system.isMobile">Factura<span *ngIf="!isForm">s</span></span>
                    <select name="sede" id="sede" [(ngModel)]="sede" class="float-right ml-2 sede form-control">
                        <option value="Ujano">Ujano</option>
                        <option value="Cabudare">Cabudare</option>
                        <option value="Acarigua">Acarigua</option>
                    </select>
                    <button class="btn btn-primary float-right btn-sm ml-2 mt-1" (click)="refreshData()" [ngStyle]="{'opacity': filter.isFilter ? .6 : 1}" *ngIf="!isForm">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-primary float-right btn-sm mt-1" (click)="new()" *ngIf="!isForm && !isEdit">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Nuevo
                    </button>
                    <button class="btn btn-primary float-right btn-sm mt-1 mr-1" (click)="openmodal()" *ngIf="!isForm && !isEdit">
                        <i class="fa fa-chart" aria-hidden="true"></i>
                        Exportar Facturas
                    </button>
                   
                    <button class="btn btn-primary float-right btn-sm" (click)="cancelar()" *ngIf="isForm && !isEdit">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        Regresar
                    </button>
                    <div class="btn-group btn-group-sm float-right mr-2 mt-1" role="group">
                        <button class="btn btn-primary btn-sm" (click)="refreshData()" *ngIf="!isForm && filter.isFilter">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Buscar
                        </button>
                        <button class="btn btn-secondary btn-sm" (click)="resetFilter()" *ngIf="!isForm && filter.isFilter">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                            Limpiar
                        </button>    
                    </div>
                </h3>
                <div *ngIf="!isForm">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                            <tr class="inputFilter head">
                                <th></th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por codigo"  tabindex="-1" (change)="refreshData()" type="search" [(ngModel)]="filter.codigo">
                                </th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por fecha"  tabindex="-1" (change)="refreshData()" type="date" [(ngModel)]="filter.created_at">
                                </th>
                                <th>
                                    <input class="if" placeholder="Búsqueda por cedula" tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.cedula">
                                </th>
                                
                                <th>
                                    <input class="if" placeholder="Búsqueda por estado" tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.estado">
                                </th>
                                
                                
                                <!-- <th>
                                    <input class="if" placeholder="Búsqueda por usuario"  tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.user_id">
                                </th> -->
                                <th>
                                    <input class="if" placeholder="Búsqueda por monto"  tabindex="-1" (keyup.enter)="refreshData()" type="search" [(ngModel)]="filter.monto">
                                </th>
                            </tr>
                            <tr class="head">
                                <th>
                                    <input disabled type="checkbox" (click)="selected.selectAll()" [(ngModel)]="selected.isSelectAll">
                                </th>
                                
                                <th>Codigo</th>
                                <th>Fecha</th>
                                <th>Cedula</th>
                                <th>Estado</th>
                                <th class="text-right">Monto</th>
                            </tr>
                            <tr *ngFor="let i of data" [ngClass]="{'estado-confirmado': i.estado === 'pagado', 'estado-parcial': i.estado === 'anulado' }">
                                <td>
                                    <input [disabled]="i.estado === 'pagado' || i.estado === 'anulado' ? '' : null" type="checkbox" [(ngModel)]="selected.value[i.id].value">
                                </td>
                                <td class="" (click)="edit(i)">{{i.codigo}}</td>
                                <td class="" (click)="edit(i)">{{i.created_at | date: 'YYYY-MM-dd'}}</td>
                                <td class="" (click)="edit(i)">{{i.estudiante_cedula}} </td>
                                <td class="" (click)="edit(i)">{{i.estado}} </td>

                                <td class=" text-right"  (click)="edit(i)">{{ toFixed(i.mon_total) }} / {{system.toPetro(toFixed(i.mon_total))}} (P)</td>
                            </tr>
                            <tr *ngIf="data.length === 0">
                                <td class="text-center" colspan="10" *ngIf="!loadData">
                                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                </td>
                                <td class="text-center" colspan="10" *ngIf="loadData">
                                    No hay registros
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <!-- {{pagination | json}} -->
                        <nav aria-label="Page navigation example">
                            
                            <ul class="pagination justify-content-end" >
                              <li> Registros por pagina
                                <select (change)="refreshData()" [(ngModel)]="pagination.per_page">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                </select>
                              </li>
                              <li class="page-item" *ngIf="pagination.pages.length > 1">
                                <a class="page-link" (click)="goPage(pagination.page, '-')" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <li *ngFor="let i of pagination.pages" [ngClass]="{'active': pagination.page === i}" class="page-item">
                                  <a class="page-link" (click)="goPage(i)">{{i}}</a>
                              </li>
                              <li class="page-item" *ngIf="pagination.pages.length > 1">
                                <a class="page-link" (click)="goPage(pagination.page, '+')" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
                <div *ngIf="isForm && false">
                    <div class="row mb-2">
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hdmodal hdmodal-md" id="modal-view-report">
    <div class="hdmodal-content">
        <div class="card p-0">
            <h5 class="py-2 px-3 modal-title flex">
                Reportes
            </h5>
            <div class="container p-3">            
                <div class="row d-flex">
                 <div class="col-12 col-lg-3">
                    <small>Tipo de Reporte</small>
                    <select name="tipo" id="sede" [(ngModel)]="rtipo"  class="form-control">
                        <option value="diario">Diario</option>
                        <option value="mensual">Mensual</option>
                    </select>
                 </div>
                 <div class="col-12 col-lg-3" *ngIf="rtipo == 'mensual'">
                    <small>Libro</small>
                    <select name="libro" id="libro" [(ngModel)]="rlibro"  class="form-control">
                        <option value="viejo">Libro Viejo</option>
                        <option value="nuevo">Libro Nuevo</option>
                    </select>
                 </div>
                 <div class="col-12 col-lg-3">
                    <small>Fecha</small>
                    <input *ngIf="rtipo=='mensual'" type="month" class="form-control" [(ngModel)]="rfecha">
                    <input *ngIf="rtipo=='diario'" type="date" class="form-control" [(ngModel)]="rfecha">
                 </div>
                 <div class="col-12 col-lg-3">
                    <small>Sede</small>
                    <select name="sede" id="sede" [(ngModel)]="sede" class="form-control">
                        <option value="Ujano">Ujano</option>
                        <option value="Cabudare">Cabudare</option>
                        <option value="Acarigua">Acarigua</option>
                        <option value="CABUDARE - UJANO"> CABUDARE - UJANO</option>
                    </select>
                 </div>
              </div>
            </div>
            <div class="hdmodal-footer">
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary" [disabled]="rfecha === ''" (click)="getfact()">Procesar</button>
                    <button class="btn btn-secoundary" (click)="closemodal()">Cerrar</button>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
<div class="hdmodal hdmodal-md" id="modal-new-facture">
    <div class="hdmodal-content">
        <div class="card p-0">
            <h5 class="py-2 px-3 modal-title flex">
                Factura
                <i class="fa fa-times ml-auto closer" (click)="modalFactureClose()"></i>
            </h5>
            <div class="container p-3">
              <div class="row align-items-center">
                <div class="col-md-6">
                    <table >
                        <tr>
                            <td>
                                <span>
                                    <img src="http://200.6.152.109/rp/assets/img/Logo-uft-one.png" atl="Logo">
                                </span>
                            </td>
                            <td>
                                <span>
                                    <em style="padding-left:20px;">Universidad Fermín Toro</em> <br>
                                    <em style="padding-left:20px;">Educación para los Valores Humano</em> <br>
                                    <p style="padding-left:20px;">
                                        <small>Calle principal, Centro Comercial Chucho Briceño, N S/N Sector Cabudare. Lara.</small>
                                    </p>
                
                                </span>
                            </td>       
                        </tr>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                        <label for="cedula">Cedula</label>
                        <input type="search" nz-input [(ngModel)]="inputValue" [nzAutocomplete]="auto" (ngModelChange)="onChange($event)"  class="form-control" id="cedula" >
                        <nz-autocomplete #auto >
                            <nz-auto-option *ngFor="let option of filteredOptions" [nzValue]="option" [nzLabel]="option.cedula">
                              {{ option.cedula }} {{option.nombre}} {{option.apellido}}
                            </nz-auto-option>
                          </nz-autocomplete>
                          <!-- <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete> -->
                    </div>
                  </div>
                  <!-- <div class="col-6">
                      {{inputValue | json}}
                  </div> -->
                  
                  
                  <div class="col-md-6">
                    <table *ngIf="inputValue.correo">
                        <tr>
                            <td>Nombres y apellidos:</td>
                            <td>
                                <b>{{inputValue?.nombres}} {{inputValue?.apellidos}}</b>
                            </td>
                        </tr>
                        <tr>
                          <td>Correo:</td>
                          <td>
                              <b>{{inputValue?.correo}} </b>
                          </td>
                      </tr>
                      <tr>
                          <td>Direccion:</td>
                          <td>
                              <b>{{inputValue?.direccion}} </b>
                          </td>
                      </tr>
                      <tr>
                          <td>Telefono celular:</td>
                          <td>
                              <b>{{inputValue?.telefono_celular}} </b>
                          </td>
                      </tr>
                      <tr>
                          <td>Telefono local:</td>
                          <td>
                              <b>{{inputValue?.telefono_local}} </b>
                          </td>
                      </tr>
                      <tr>
                          <td>Saldo</td>
                          <td>
                              <b>{{saldo_estudiante}} Bs</b>
                          </td>
                      </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="form-group" *ngIf="inputValue.correo && false">
                        <label for="servicio">Servicio</label>
                        <input type="search" (keyup.enter)="onSelectServicio()" nz-input [(ngModel)]="servicioSelect" [nzAutocomplete]="autoServicios" (ngModelChange)="onChangeServicios($event)"  class="form-control" id="servicio" >
                        <nz-autocomplete #autoServicios >
                            <nz-auto-option *ngFor="let option of filteredOptionsServicios" [nzValue]="option" [nzLabel]="option.nombre">
                              {{ option.nombre }}
                            </nz-auto-option>
                          </nz-autocomplete>
                          <!-- <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete> -->
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col">
                      <!-- {{listService | json}} style="height: 170px;overflow-y: auto;"-->
                      <div *ngIf="inputValue.correo">
                          <table class="table table-sm table-bordered2 mt-2">
                            <tr>
                                <td></td>
                                
                                <td colspan="2">
                                    <div >
                                        <input type="search" placeholder="Buscar servicios" (keyup.enter)="onSelectServicio()" nz-input [(ngModel)]="servicioSelect" [nzAutocomplete]="autoServicios2" (ngModelChange)="onChangeServicios($event)"  class="form-control"  >
                                        <nz-autocomplete #autoServicios2 >
                                            <nz-auto-option *ngFor="let option of filteredOptionsServicios" [nzValue]="option" [nzLabel]="option.nombre">
                                            {{ option.nombre }}
                                            </nz-auto-option>
                                        </nz-autocomplete>
                                    </div>
                                    <!-- <div *ngIf="isPay">
                                        <input type="search" (keyup.enter)="onSelectServicio()" nz-input [(ngModel)]="servicioSelect" [nzAutocomplete]="autoServicios3" (ngModelChange)="onChangeServicios($event)"  class="form-control"  >
                                        <nz-autocomplete #autoServicios3 >
                                            <nz-auto-option *ngFor="let option of filteredOptionCuotas" [nzValue]="option" [nzLabel]="option.nombre">
                                            {{ option.nombre }}
                                            </nz-auto-option>
                                        </nz-autocomplete>
                                    </div> -->
                                </td>
                                <td>
                                    <input type="checkbox" id="servicio_pago" [(ngModel)]="isPay"> <label for="servicio_pago" class="ml-2">Servicios pendientes</label>
                                </td>
                            </tr>
                          </table>
                        <table class="table table-sm table-bordered mt-2" >
                            <tbody>
                                <tr class="head">
                                    <th>
                                        
                                    </th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Estado</th>
                                  
                                    <th>
                                        <div class="float-right">Monto</div>
                                    </th>
                                    <th>
                                        <div class="float-right">Total</div>
                                    </th>
                                    <th></th>
                                </tr>
                            </tbody>
                            <tbody>
                                
                                <tr *ngFor="let i of listService; let index = index">
                                    <td>
                                        <i (click)="deleteSelectService(i)" class="fa fa-trash-o"></i>
                                    </td>
                                    <td>
                                        <div *ngIf="i.nombre !== '' && i.nombre !== null && i.nombre !== undefined">
                                            {{i.nombre}}
                                        </div>
                                    </td>
                                    <td>{{i.description ? i.description : i?.c_e_lapso?.carrera?.nombre}}</td>
                                    <td>{{i.estado ? i.estado : 'pendiente *'}}</td>
                                    <td (click)="reportarPago(i.estado === 'pendiente' || i.estado === undefined)" [ngClass]="{'text-white': i.estado === 'pendiente' || i.estado === undefined,'cursorPointer': i.estado === 'pendiente' || i.estado === undefined, 'estado-vencido': i.estado === 'pendiente' || i.estado === undefined }"> <div class="float-right" >{{i?.plan?.mon_total ? system.toBs(i?.plan?.mon_total) : system.toBs(i.monto)}}</div></td>
                                    <td>
                                        <div class="float-right">{{getTotalPagado(i.pagos_confirm) | currency: '': ''}}</div>
                                        
                                    </td>
                                    <td>
                                       
                                        
                                    </td>
                                </tr>
                               
                            </tbody>
                          </table>
                          <div>
                              <button class="btn btn-primary btn-sm" (click)="addinstrumento()">Pagos</button>
                            <!--<i class="fa fa-eye text-danger fa-lg ml-2"  title="Tiene Pagos por confirmar"></i>-->
                        </div>
                          <div *ngIf="listService.length > 0">
                            <span class="float-right mr-2">
                                <table class="text-right">
                                    
                                    <tr>
                                        <td>Total:</td>
                                        <th>{{system.toBs(sub_total)}}</th>
                                    </tr>
                                    <tr>
                                        <td>Pagado:</td>
                                        <th>{{pagado_instrumento}}</th>
                                    </tr>
                                    <tr>
                                        <td>Total por pagar:</td>
                                        <th>{{system.toFixed(resta)}}</th>
                                    </tr>
                                    <tr>
                                        <td>Resta:</td>
                                        <th>{{system.toFixed(resta_pagando)}}</th>
                                    </tr>
                                </table>
                                <!-- <b>sub total: {{sub_total}}</b> <br>
                                <b>IVA: {{view_iva}}</b> <br>
                                <b>Total: {{total}}</b> -->
                            </span>
                          </div>
                          <!-- <code>
                            {{filteredOptionCuotas | json}}
                        </code>
                        <code>
                            {{filteredOptionsServicios | json}}
                        </code> -->
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center" *ngIf="listService.length > 0">
                  <!-- <div class="col text-center" *ngIf="listPagos.length === 0">
                      <button class="btn btn-primary btn-lg" (click)="agregar_pago()">Agregar pagos</button>
                  </div> -->
                  <div class="col" *ngIf="listPagos.length > 0">
                      <div>
                          <table class="table table-sm">
                              <tr>
                                  <th></th>
                                  <th>Servicio</th>
                                  <th>Tipo de pago</th>
                                  <th>Fecha</th>
                                  <th>Referencia</th>
                                  <th>Monto</th>
                              </tr>
                              <!-- <tr *ngFor="let i of listService">
                                <td></td>
                                <td>{{i | json}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr> -->
                              <tr *ngFor="let i of listPagos">
                                <td>
                                    <i (click)="deleteSelectPago(i)" class="fa fa-trash-o"></i>
                                </td>
                                <td>
                                    <select class="form-control form-control-sm" [(ngModel)]="i.servicio" name="" id="">
                                        <option [value]="i" *ngFor="let i of listService">{{i.nombre}}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control form-control-sm" [(ngModel)]="i.addpay" name="" id="" (change)="formaddpay(i.addpay)">
                                        <option value="1">Transferencia</option>
                                        <option value="4">Debito</option>
                                        <option value="3">NOTA DE CREDITO</option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control form-control-sm" type="date" name="" id="" [(ngModel)]="i.fecha">
                                </td>
                                <td>
                                    <input class="form-control form-control-sm" [(ngModel)]="i.referencia" type="text" name="" id="">
                                </td>
                                <td>
                                    <input class="form-control form-control-sm" [(ngModel)]="i.monto" type="number" name="" id="">
                                </td>
                              </tr>
                          </table>
                          <button class="btn btn-primary btn-sm" (click)="agregar_pago()">Agregar pago</button>
                      </div>
                  </div>
              </div>
            </div>
            <div class="hdmodal-footer">
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary ml-2" [disabled]="resta_pagando > 0 || listService.length === 0" (click)="save()">CREAR FACTURA</button>
                    <button class="btn btn-secoundary" (click)="modalFactureClose()">Cancelar</button>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>

  <div class="hdmodal hdmodal-md" id="modal-view-facture">
    <div class="hdmodal-content">
        <div class="card p-0">
            <h5 class="py-2 px-3 modal-title flex">
                Factura <b>{{viewFacture?.codigo}}</b>
                <i class="fa fa-times ml-auto closer" (click)="modalViewFactureClose()"></i>
            </h5>
            <div class="container p-3">
              <div class="row align-items-center">
                <div class="col-md-6">
                    <table >
                        <tr>
                            <td>
                                <span>
                                    <img src="http://200.6.152.109/rp/assets/img/Logo-uft-one.png" atl="Logo">
                                </span>
                            </td>
                            <td>
                                <span>
                                    <em style="padding-left:20px;">Universidad Fermín Toro</em> <br>
                                    <em style="padding-left:20px;">Educación para los Valores Humano</em> <br>
                                    <p style="padding-left:20px;">
                                        <small>Calle principal, Centro Comercial Chucho Briceño, N S/N Sector Cabudare. Lara.</small>
                                    </p>
                
                                </span>
                            </td>       
                        </tr>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <h2 class="text-center">C.I: <b>{{viewFacture?.estudiante_cedula}}</b></h2>
                  </div>
                  <!-- <div class="col-6">
                      {{viewFacture | json}}
                      <hr>
                      {{viewEstudiante | json}}
                  </div>  -->
                  
                  
                  <div class="col-md-6">
                    <table *ngIf="viewEstudiante?.correo">
                        <tr>
                            <td>Nombres y apellidos:</td>
                            <td>
                                <b>{{viewEstudiante?.nombres}} {{viewEstudiante?.apellidos}}</b>
                            </td>
                        </tr>
                        <tr>
                          <td>Correo:</td>
                          <td>
                              <b>{{viewEstudiante?.correo}} </b>
                          </td>
                      </tr>
                      <tr>
                          <td>Direccion:</td>
                          <td>
                              <b>{{viewEstudiante?.direccion}} </b>
                          </td>
                      </tr>
                      <tr>
                          <td>Telefono celular:</td>
                          <td>
                              <b>{{viewEstudiante?.telefono_celular}} </b>
                          </td>
                      </tr>
                      <tr>
                          <td>Telefono local:</td>
                          <td>
                              <b>{{viewEstudiante?.telefono_local}} </b>
                          </td>
                      </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <h4 class="text-center mb-1">N°: <b>{{viewFacture?.codigo}}</b></h4>
                    <h5 class="text-center"><b>{{viewFacture?.estado }}</b></h5>
                    <h5 class="text-center"><b>{{viewFacture?.created_at | date: 'YYYY-MM-dd'}}</b></h5>
                </div>
              </div>
              <div class="row">
                  <div class="col">
                      <!-- {{listService | json}} style="height: 170px;overflow-y: auto;"-->
                      <div >
                        <table class="table table-sm table-bordered mt-2" *ngIf="viewFacture?.detalles.length > 0">
                            <tbody>
                                <tr class="head">
                                    <th>
                                        
                                    </th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>
                                        <div class="float-right">Monto</div>
                                    </th>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr *ngFor="let i of viewFacture.detalles">
                                    <td>
                                        
                                    </td>
                                    <td>{{i.nombre}}</td>
                                    <td>{{i.descripcion}}</td>
                                    <td> <div class="float-right">{{i.montobs}}</div></td>
                                </tr>
                            </tbody>
                          </table>
                          <div *ngIf="viewFacture?.detalles.length > 0">
                              <span class="float-right mr-2">
                                <table>
                                    <tr>
                                        <td>sub total:</td>
                                        <th>{{system.toBs(system.toFixed(view_sub_total))}}</th>
                                    </tr>
                                    <!--<tr>
                                        <td>IVA:</td>
                                        <th>{{system.toBs(system.toFixed(viewFacture.iva || 0))}}</th>
                                    </tr>-->
                                    <tr>
                                        <td>Total:</td>
                                        <th>{{system.toBs(system.toFixed(view_total))}}</th>
                                    </tr>
                                </table>
                                  <!-- <b>Total: {{view_total}}</b> -->
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="hdmodal-footer">
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="d-flex flex-row-reverse">
                    <button *ngIf="viewFacture?.estado !== 'anulado'" (click)="print()" class="btn btn-primary ml-2">Imprimir</button>
                    <!--<button *ngIf="viewFacture?.estado !== 'anulado'" class="btn btn-primary ml-2">Reverso</button>-->
                    <button *ngIf="viewFacture?.estado !== 'anulado'" class="btn btn-primary ml-2" (click)="anular()">Anular</button>
                    <button class="btn btn-secoundary" (click)="modalViewFactureClose()">Cerrar</button>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
  <div class="hdmodal hdmodal-sm" id="modal-anular">
    <div class="hdmodal-content">
        <div class="card p-0">
            <h5 class="py-2 px-3 modal-title flex">
                Confirmación
                <i class="fa fa-times ml-auto closer" (click)="modalAnularClose()"></i>
            </h5>
            <div class="container p-3">
              <h4 class="mb-0">¿Desea anular la factura?</h4>
            </div>
            <div class="hdmodal-footer">
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary ml-2" (click)="anularConfirm()">CONFIRMAR</button>
                    <button class="btn btn-secoundary" (click)="modalAnularClose()">Cancelar</button>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
  <div class="hdmodal hdmodal-sm" id="modal-pagos">
    <div class="hdmodal-content">
        <div class="card p-0">
            <h5 class="py-2 px-3 modal-title flex">
                Pagos
                <i class="fa fa-times ml-auto closer" (click)="modalPAgosClose()"></i>
            </h5>
            <div class="containerpl-3 pr-3 pl-3 pb-3 pt-1">
                <div class="d-flex flex-row-reverse mb-1" [style.height]="'29px'">
                  <!-- <button (click)="PagoDelete()" *ngIf="PagosSelected.selected.length > 0" class="btn btn-primary btn-sm ml-auto">
                    Eliminar
                  </button> -->
                </div>
                <div class="table-responsive">
                  <table class="table table-sm table-bordered">
                    <tr class="head">
                      <th></th>
                      <th>Tipo de pago</th>
                      <th>Fecha</th>
                      <th *ngIf="formaddpaytransferencia">Banco</th>
                      <th>Referencia</th>
                      <th>Cedula titular</th>
                      
                      <!-- <th>Usuario</th> -->
                      <th class="text-right">Monto</th>
                    </tr>
                    <tr *ngFor="let i of instrumento_pago"  [ngClass]="{'estado-confirmado': i.montobs_confirm}">
                      <td>
                        <i (click)="deleteSelectPago_(i)" class="fa fa-trash-o"></i> 
                      </td>
                      <td class="cursorPointer2">
                          <select class="form-control form-control-sm" [(ngModel)]="i.addpay" (change)="formaddpay(i.addpay)">
                            <option value="1">Transferencia</option>
                            <option value="4">Debito</option>
                            <option value="3">Nota de Credito</option>
                        </select>
                      </td>
                      <td class="cursorPointer2">
                          <input type="date" class="form-control form-control-sm" value="i.fecha | date:'MM/dd/yyyy'" [(ngModel)]="i.fecha">
                      </td>
                      <td *ngIf="formaddpaytransferencia" class="cursorPointer2">
                        <select class="form-control form-control-sm">
                            <option value="1">Banesco</option>
                            <option value="4">Mercantil</option>
                            <option value="3">Provincial</option>
                        </select>
                     </td>
                      <td class="cursorPointer2">
                          <input type="text" class="form-control form-control-sm" [(ngModel)]="i.referencia">
                      </td>
                      <td class="cursorPointer2">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="i.titular_cedula">
                      </td>
                      
                      <!-- <td class="cursorPointer2">{{i.user_id}}</td> -->
                      <td class="cursorPointer2 text-right">
                          <input type="number" class="form-control form-control-sm" [(ngModel)]="i.monto">
                      </td>
                    </tr>
                  </table>
                  <button class="btn btn-primary btn-sm" (click)="agregar_pago_instrumento()">Agregar pago</button>
                  <div *ngIf="pagos.length > 1">
                     <b class="float-right">Monto: {{getTotalPagado(pagos) | currency: '': ''}} Bs</b>
                  </div>
                  <div *ngIf="formaddpaynote"><br>
                    <table class="table table-sm table-bordered">
                        <tr class="head">
                        <th># Pago</th>
                        <th>Monto</th>
                        <th >Descripcion</th>
                        </tr>
                        <tr *ngFor="let i of notasdecredito" (click)="addpagonotacredito(i)">
                            <td>{{i.pago_id}}</td>
                            <td>{{i.montobs}}</td>
                            <td>{{i.description}}</td>
                        </tr>
                      </table>
                  </div>
                </div>
              </div>
            <div class="hdmodal-footer">
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="d-flex flex-row-reverse">
                    <button class="btn btn-secoundary" (click)="modalPAgosClose()">cerrar</button>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>

  <div *ngIf="printer" id="printable">
    <html lang="es">
<head>
    <meta charset="utf-8">
</head>
<body >
    <!-- <h1 style="border-bottom: 1px solid #991334;color: #991334;">Factura</h1> -->
    <div style="margin:10px;border: 1px solid #000;border-radius: 10px;margin-bottom: 20px;background-image: url('https://b781.gconex.com/~utftes/wp-content/uploads/2019/08/fondo-footer-2.png');background-repeat: no-repeat;background-position: center;">
        <table style="width: 100%;">
            <tr>
                <td style="text-align: center;">
                    <span>
                        <img width="90" src="http://200.6.152.109/rp/assets/img/Logo-uft-one.png" atl="Logo"><br>
                        <p style="margin:0;text-align: center;font-size: 12px;">Educación para los</p> 
                        <p style="margin:0;text-align: center;font-size: 12px;">Valores Humano</p>
                    </span>
                    
                </td>
                <td style="vertical-align: top;">
                    <span style="display: block;margin-top: 10px;font-size: 14px;">
                        <span style="padding-left:10px;">
                            <b>RIF: j-300255158</b> Asociacion civil Universidad Fermin Toro
                        </span> <br>
                        
                        <span style="padding-left:10px;">
                            <span>Calle principal, Centro Comercial Chucho Briceño, N S/N Sector Cabudare. Lara.</span>
                        </span>
                        <br>
                        <span style="padding-left:10px;">
                            <span>Cabudare Lara / Zona Postal 3023</span>
                        </span>
                        <br>
                        <span style="padding-left:10px;">
                            <span>Telfs: (0251) 7100123 - 7100111 - Fax: (0251) 7100188</span>
                        </span>
                        
                    </span>
                </td>
                <td style="vertical-align: top;">
                    <h2 style="text-align: center;font-weight: 100;">FORMA LIBRE</h2>
                    <h3 style="text-align: center;">CONTRIBUYENTE FORMAL</h3>
                </td> 
                <td style="vertical-align: top;">
                    <h4 style="text-align: center;margin:0;">No. de control</h4>
                    <h2 style="text-align: center;margin:0;font-weight: 100;">00-1699487</h2>
                </td>    
            </tr>
        </table>
        <div style="text-align: center;font-size: 12px;">
            <table style="margin: auto;font-size: 12px;">
                <tr>
                    <td>FACTURA:</td>
                    <td>
                        <span style="margin-left:10px;">{{viewFacture?.id}}</span>
                    </td>
                </tr>
                <tr>
                    <td>FECHA DE EMISION:</td>
                    <td>
                        <span style="margin-left:10px;">13/17/2021 - 10:30</span>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table style="width: 100%;font-size: 12px;">
                <tr>
                    <td>CI/RIF - NOMBRE O RAZON SOCIAL:</td>
                    <td>{{viewFacture?.estudiante.cedula}} - {{viewFacture?.estudiante.nombres}}</td>
                    <td>BENEFICIARIO:{{viewFacture?.estudiante.nombres}}</td>
                </tr>
                <tr>
                    <td>DOMICILIO: {{viewFacture?.estudiante.direccion}}</td>
                    <td>LARA</td>
                    <td>TELF: {{viewFacture?.estudiante.telefono_celular}} CONDICION DE PAGO: CREDITO</td>
                </tr>
                <tr>
                    <td>CODIGO: {{viewFacture?.estudiante.telefono_celular}}</td>
                    <td>CARRERA: {{viewFacture?.carrera_estudiante.carrera.nombre}}</td>
                    <td>INGRESO:{{viewFacture?.estudiante.prd.fecha_ingreso}} PERIODO:{{viewFacture?.carrera_estudiante.lapso}}</td>
                </tr>
            </table>
        </div>
        <div style="margin-bottom: 20px;">
            <table style="width: 100%;font-size: 12px;">
                <tr >
                    <td style="border-top: 1px dotted #000;border-bottom: 1px dotted #000;">CANTIDAD</td>
                    <td style="border-top: 1px dotted #000;border-bottom: 1px dotted #000;">DESCRIPCION</td>
                    <td style="border-top: 1px dotted #000;border-bottom: 1px dotted #000;">PRECIO UNITARIO</td>
                    <td style="border-top: 1px dotted #000;border-bottom: 1px dotted #000;">MONTO</td>
                    <td style="border-top: 1px dotted #000;border-bottom: 1px dotted #000;">DESCUENTO</td>
                    <td style="border-top: 1px dotted #000;border-bottom: 1px dotted #000;">TOTAL</td>
                </tr>
                <tr *ngFor="let j of detallesfac">
                    <td>1</td>
                    <td>{{j.descripcion}}</td>
                    <td>{{j.montobs}}</td>
                    <td>{{j.montobs}}</td>
                    <td>0</td>
                    <td>{{j.montobs}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>TOTAL A PAGAR:</td>
                    <td>{{viewFacture?.mon_total}}</td>
                </tr>
            </table>
        </div>
        <div style="margin-bottom: 20px;">
            <p style="margin-left: 5px;margin-bottom: 0;">OBSERVACIONES:</p>
            <P style="margin-left: 5px;margin-top: 0;">NOTAS. La universidad se reserve el derecho de modificar tanto el monto como las condiciones de pago, de acuerdo a las variaciones economicas del pais.
                LAS CONSTANCIAS DE: ESTUDIOS, BUENA CONDUCTA E INSCRIPCION CADUCAN A LOS 3 MESES. gdiciementc@uft.edu.ve 
            </P>
        </div>
        <div>
            <table>
                <tr>
                    <td>INSTRUMENTO</td>
                    <td>BANCO</td>
                    <td>FECHA</td>
                    <td>NUMERO</td>
                    <td>MONTO INSTRUMENTO</td>
                </tr>
                <tr>
                    <td>DEPOSITO</td>
                    <td>PROVINCIAL</td>
                    <td>01/07/21</td>
                    <td>365063</td>
                    <td>242.362.050,66</td>
                </tr>
            </table>
            <div style="margin-top: 20px;margin-left: 5px">
                Saldo deudor: 0,00 
                <div style="text-align: right;">
                    <span style="margin-right: 200px;">Firma y Sello:</span>
                </div>
            </div>
            <div style="margin-top: 50px;margin-bottom: 20px;">
                <span style="margin-left: 100px;">
                    Usuario:    JFERNAND
                </span>
            </div>
        </div>
    </div>
    
    <!-- <p>
        Para información sobre su solicitud, envíe un correo electrónico a consultapagouft@gmail.com
    </p> -->
    
</body>
</html>
  </div>